<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/pao</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <mapping class="com.company.domain.ClientEntity"/>
        <mapping resource="ClientEntity.hbm.xml"/>
        <mapping resource="ClientMoneyEntity.hbm.xml"/>
        <mapping class="com.company.domain.ClientMoneyEntity"/>
        <mapping resource="CurrencyEntity.hbm.xml"/>
        <mapping class="com.company.domain.CurrencyEntity"/>
        <mapping class="com.company.domain.ExchangeRateEntity"/>
        <mapping resource="ExchangeRateEntity.hbm.xml"/>
        <mapping class="com.company.domain.ExchangedMoneyEntity"/>
        <mapping resource="ExchangedMoneyEntity.hbm.xml"/>
        <mapping class="com.company.domain.ExchangeEntity"/>
        <mapping resource="ExchangeEntity.hbm.xml"/>
        <mapping resource="OfficeEntity.hbm.xml"/>
        <mapping class="com.company.domain.OfficeEntity"/>
        <mapping resource="OfficeMoneyEntity.hbm.xml"/>
        <mapping class="com.company.domain.OfficeMoneyEntity"/>
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>